---
layout: page_avatar
---
<h1>Yifan Hou</h1>

<p>
I am a PhD student at <a href="http://mlab.ri.cmu.edu/">Manipulation Lab</a>, Carnegie Mellon University, advised by Professor <a href="http://www.cs.cmu.edu/~mason/">Matt Mason</a>. 
Before that I obtained my MS in Robotics degree also from Carnegie Mellon University in 2017. I received Bachelor's degree in 2015 from Tsinghua University, Beijing.
<br/>
</p>

<h3>Research Interests</h3>

<p>
I want to simultaneously improve robot's manipulation dexterity and reliability. I am currently exploring the following aspects of manipulation: <br />
1. Reliable control strategy for manipulation under external contacts; <br />
2. Efficient planning algorithm that utilize task geometry; <br />
3. High bandwidth end-effector hardware. <br />
<br />
Specifically, I am working on regrasping, in-hand manipulation, force control and planning for contact-rich manipulation.
</p>


<h3>Contact</h3>
<a href="http://ri.cmu.edu/">Robotics Institute</a> <br />
<a href="http://www.cs.cmu.edu/">School of Computer Science</a> <br />
<a href="http://www.cmu.edu/">Carnegie Mellon University</a> <br />
Email: yifanh [at] cmu [dot] edu
