---
layout: layout
---
<!-- Page Header -->
<header class="intro-header" style="background-image: url('<%= config.root %><%= page["header-img"] || config["header-img"] %>')">
    <div class="container">
        <div class="row" style="height: 60px;">
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <!-- Post Container -->
                <div class="
                    col-lg-8 col-lg-offset-2
                    col-md-8 col-md-offset-0
                    col-sm-12
                    col-xs-12
                    post-container
                ">
                    <%- page.content || body %>
                </div>
    </div>
</div>
